@import 'bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min';
@import 'froala-editor/css/froala_editor.min';

$white: #fff;
$gray: #eee;

// Login page
.login_container {
    height: 100vh;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding: 30px 15px;

    input {
        margin-bottom: 15px;
    }

    i {
        margin-bottom: 0.5rem;
    }

    .qr_code {
        display: block;
        width: auto;
        height: auto;
        margin: 0 auto;
    }
}

// File explorer
#file-list {
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    .file-list__element {
        position: relative;
        width: 150px;
        height: 150px;
        background: lightgray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
        overflow: hidden;

        &__button {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        img {
            width: 100%;
        }
    }
}