# Symfony configuration
.env
.env.local
.env.local.php
.env.*.local
.env.test
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
vendor/

# Tests
.phpunit
.phpunit.result.cache
/phpunit.xml

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
yarn.lock
###< symfony/webpack-encore-bundle ###
