<div id="explorer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Explorateur de fichiers" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Explorateur de fichiers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form id="explorer-selection" data-target="">
                                <ul id="file-list"></ul>
                            </form>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <button class="button btn btn-secondary mr-3" id="explorer-cancel" data-dismiss="modal" aria-label="Annuler">
                            <i class="fa fa-times"></i>
                            Annuler
                        </button>
                        <button class="button btn btn-primary" id="explorer-done" data-dismiss="modal">
                            <i class="fa fa-check"></i>
                            Confirmer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>